#!/bin/bash

aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com

docker build -t $ENV_APP_NAME:$APP_NAMESPACE'_'$ENV_APP_NAME .

docker compose -f ./docker-compose.yml up -d