#!/bin/bash

mkdir -p $TF_VAR_ENV_LOCAL_BACKEND_SOURCE_FOLDER/tmp

cd /var/www/html/$TF_VAR_ENV_APP_NAME

aws ecr get-login-password --region $TF_VAR_ENV_APP_AWS_REGION | docker login --username AWS --password-stdin $TF_VAR_ENV_APP_AWS_ACCOUNT_ID.dkr.ecr.$TF_VAR_ENV_APP_AWS_REGION.amazonaws.com

docker build -t $TF_VAR_ENV_APP_NAME:$TF_VAR_ENV_APP_BACKEND_NAMESPACE'_'$TF_VAR_ENV_APP_NAME .

docker compose -f ./docker-compose.yml up -d