apiVersion: v1
kind: Service
metadata:
  name: ${TF_VAR_ENV_APP_BACKEND_NAMESPACE}-${TF_VAR_ENV_APP_NAME}-service
  annotations:
    external-dns.alpha.kubernetes.io/hostname: ${TF_VAR_ENV_APP_BACKEND_DOMAIN_NAME}
spec:
  selector:
    app: ${TF_VAR_ENV_APP_BACKEND_NAMESPACE}-${TF_VAR_ENV_APP_NAME}
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: LoadBalancer